'neutral-000': #111111;
'neutral-100': #181818;
'neutral-200': #1d1d1d;
'neutral-900': #ffffff;
'neutral---600': #747474;
'neutral---700': #808080;
'neutral-300': #414141;
'neutral-overlay': #000000;
