'background-background-main': 'var(--neutral-000)';
'background-background-secondary': 'var(--neutral-100)';
'text-text-primary': 'var(--neutral-900)';
'text-text-secondary': 'var(--neutral---700)';
'icon-icon-active': 'var(--neutral-900)';
'icon-icon-inactive': 'var(--neutral---600)';
'border-primary': 'var(--neutral-300)';
'background-background-tertiary': 'var(--neutral-200)';
'border-active': 'var(--neutral-900)';
'background-background-on-colour': 'var(--neutral-900)';
'icon-icon-on-colour': 'var(--neutral-000)';
'overlay': 'var(--neutral-overlay)';
'text-text-on-colour': 'var(--neutral-000)';
